body {
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.top-container {
  background-color: lightblue;
  position: relative;
  padding-top: 100px;
}


.cloud1 {
  position: absolute;
right: 300px;
top: 50px;
}
.cloud2 {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
