body{
    margin: 0;
}
h1{
    margin: 0;
}

.top-container{
    background-color: #E8FFFF;
}

.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: rgb(207, 34, 155);
    height: 200px;
    width: 200px;
}
.stack{
    text-decoration: underline;
}